html {
  box-sizing: border-box;
  background-color: #46b8da;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 30em;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
}
h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
#container {
  margin-top: 10px;
}
div {
ï¿¼  text-align: center;
}
.city {
  font-size: 2.5em;
}
.temp {
  font-size: 4.5em;
}
.icon {
  font-size: 7em;
}
footer {
  margin-top: 30px;
}
footer div {
  font-size: small;
}
